:root {
    --neutral-0: #FAF8F6;
    --neutral-200: #F3EDE7;
    --neutral-500: #49566D;
    --neutral-900: #172339;
  }
body {
    font-family: epilogue;
    background-color: var(--neutral-0);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
}
.btn {
    padding: 18px 17px 15px 18px;
    border-radius: 6px;
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-900);
    color: var(--neutral-900);
    font-weight:700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.16px;
}
.btn-primary {
    background-color: var(--neutral-0);
}
.btn-secondary {
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}
.hero {
    margin: 20px 20px;
    margin-top: 60px;
}
h1 {
    color: var(--neutral-900);
    font-size: 38px;
    letter-spacing: -0.53px;
    font-weight: 400;
}
.hero p {
    color: var(--neutral-500);
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.1px;
}
.hero-title-accent {
    font-weight: 700;
    font-size: 38px;
    letter-spacing: -0.53px;
}
.stats {
    text-align: center;
}
.stats img {
    margin-top: 40px;
}
.stats-item {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.stats-value {
    color:var(--neutral-900);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.5px;
}
.stats-label {
    color: var(--neutral-500);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
}
.testimonial-card {
    background-color: var(--neutral-900);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    margin-top: 300px;
}
.testimonial-image-wrapper {
    position: absolute;
    top: -200px;
    display: block;
    margin: 0 auto;
}
.testimonial-content {
    margin: 20px 20px;
}
.testimonial-image {
    display: block;
    margin: 0 auto;
}
.testimonial-title {
    color: var(--neutral-0);
    font-size: 48px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.testimonial-title span {
    font-weight: 700;
}
.testimonial-quote {
    color: var(--neutral-200);
    font-size: 20px;
    line-height: 160%;
    font-weight: 400;

}
.testimonial-author span {
    color: var(--neutral-200);
}
.testimonial-author strong {
    text-transform: uppercase;
    color: var(--neutral-0);
}

  @media (min-width: 768px) {
    .container {
        width: 718px;
    }
}